.App {
  text-align: center;
  background-color: #eae3d8;
  height: 100vh;
  width: 100vw;
  margin: 0 auto; 
}



.gridContainer {
  margin-top: 500px; 
  display: grid;
  width: 1200px; 
  grid-template-columns: 300px 300px 300px; 
  grid-template-rows: 300px 300px 300px; 
}

.countryLine { 
  width: 200px; 
  height: 1px; 
  background-color: black; 
}

/*
.options {
  font-family: 'cardo regular';
  margin-top: 200px; 
  font-size: 20px;
  color: black;
}

option {
	background-color: #eae3d8;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}

select {
	margin: 0 auto;
  color: #EC6F66;
  background-color: #eae3d8;
	width: 310px;
	padding: 15px;
	height: 50px;
  cursor: pointer;
  border: none;  
  font-size: 15px; }
*/


  .optionsComponent {
    width: 600px; 
    height: 60px; 
    font-family: 'cardo regular';
    margin: 0 auto; 
    padding-top: 100px; 
    font-size: 20px;
    color: black;
    display: grid; 
    grid-template-columns: 200px 200px 200px; 
  
  }

  .optionsLine {
    width: 200px; 
    height: 1px; 
    background-color: black; 
    grid-column-start: 1; 
  }

  .optionsLineLGBTQ {
    width: 200px; 
    height: 1px; 
    background-color: black; 
    grid-column-start: 2;

  }

  .optionsLineYtring {
    width: 200px; 
    height: 1px; 
    background-color: black; 
    grid-column-start: 3;

  }
